
@{
    Layout = null;
}
<style type="text/css">
    .Container {
        padding: 0 20px;
    }
</style>
<div class="Container">
    <form>
        <div>
            <label for="rolename">角色名称</label>
            <input id="rolename" name="rolename" type="text" placeholder="请输入角色名称" class="layui-input">
        </div>
    </form>
</div>
<script>

</script>
