@{
    Layout = null;
}

<style type="text/css">
    .panel.panel-violet > .panel-heading {
        color: #FFFFFF;
        background: #9351ad;
        border-color: #9351ad !important;
    }

    .panel.panel-violet {
        border-color: #9351ad;
    }
</style>

<div class="panel panel-violet" style="margin-left:10px;margin-right:70px;">
    <div class="panel-heading">
        新增（编辑）家务得分标准
    </div>

    <div class="panel-body pan">
        <form action="#">
            <div class="form-body pal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-icon right">
                                <i class="fa fa-user"></i>
                                <input id="hwName" type="text" placeholder="请输入家务名称" class="form-control" />
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-2">
                        <input id="hIsIncludeTimes" type="checkbox" name="ckboxIsIncludeTimes" class="you" value="1"> 是否包含次数
                    </div>*@
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" id="hwScores">
                                <option value="-1">请选择家务得分</option>
                                <option value="1">1 分</option>
                                <option value="2">2 分</option>
                                <option value="3">3 分</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button id="btnSubmit" type="button" class="btn btn-primary" onclick="AddScore()">
                            提交
                        </button>
                        <button type="button" class="btn btn-danger" onclick="Cancel()">
                            取消
                        </button>
                    </div>
                </div>
                <hr />
                <div class="row" id="editNoticeDiv" style="display:none">
                    <div class="col-md-6">
                        <span title="注意" class="glyphicon glyphicon-info-sign" aria-hidden="true" style="cursor:pointer"></span>
                        <span style="color:red">注意：您正在修改价值&nbsp;<b id="bCore"></b>&nbsp;分的家务（<b id="bHwName"></b>）</span>
                        <input type="hidden" id="HwId" />
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="container" style="margin-left:10px; margin-top:10px; ">
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-danger" id="oneScore">
                <div class="panel-heading">1 points of housework</div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-primary" id="twoScore">
                <div class="panel-heading">2 points of housework</div>
                
            </div>
        </div>

        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">3 points of housework</div>
                <div class="panel-body" id="threeScore">
                    
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

    /**
     * 新增（编辑）家务及分数
     */
    function AddScore() {
        var id = $("#HwId").val();
        if ($("#editNoticeDiv") == undefined || $("#editNoticeDiv").css.display == "none") {
            id = "";
        }
        $.ajax({
            url: '/Report/Family/AddScore',
            type: 'POST',
            async: false,
            data: { hwName: $("#hwName").val(), hwScore: $("#hwScores").val(), isIncludeTimes: $("input[type='checkbox']").is(':checked'), Id: id, rand: Math.random() },
            beforeSend: function (XMLHttpRequest) {

            },
            success: function (data) {
                if (data.Success) {
                    if (id != "") {
                        GetScore($("#HwId").val());
                    }
                    GetScore($("#hwScores").val());
                    var lyI = layer.confirm('恭喜，数据新增(修改)成功！', { icon: 6, title: '提示', btn: ['确定'] }, function (index) {
                        layer.close(lyI);
                    });
                }
            },
            error: function (xhr) {
            }
        });
    }

    /**
     * 根据分数获取家务
     * score 分数
     */
    function GetScore(score) {
        $.ajax({
            url: '/Report/Family/GetHwScore',
            type: 'POST',
            async: false,
            data: { score: score, rand: Math.random() },
            success: function (data) {
                var html = [];
                if (score == 1) {
                    $("#oneScore a").remove('#oneScore .list-group-item');
                    if (data.Data.length > 0) {
                        for (var i = 0; i < data.Data.length; i++) {
                            html.push('<a href="#" class="list-group-item">');
                            html.push(data.Data[i].hwName);
                            html.push('<div class="pull-right">');
                            html.push('<span title="编辑" onclick="EditScore(\'' + data.Data[i].Id + '\',\'' + data.Data[i].hwName + '\',1)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>');
                            html.push('&nbsp;&nbsp;');
                            html.push('<span title="删除" onclick="DelScore(\'' + data.Data[i].Id + '\',1)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>');
                            html.push('</div></a>');
                        }
                        $("#oneScore").append(html.join(''));
                    }

                }

                if (score == 2) {
                    $("#twoScore a").remove('#twoScore .list-group-item');
                    if (data.Data.length > 0) {
                        for (var i = 0; i < data.Data.length; i++) {
                            html.push('<a href="#" class="list-group-item">');
                            html.push(data.Data[i].hwName);
                            html.push('<div class="pull-right">');
                            html.push('<span title="编辑" onclick="EditScore(\'' + data.Data[i].Id + '\',\'' + data.Data[i].hwName + '\',2)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>');
                            html.push('&nbsp;&nbsp;');
                            html.push('<span title="删除" onclick="DelScore(\'' + data.Data[i].Id + '\',2)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>');
                            html.push('</div></a>');
                        }
                        $("#twoScore").append(html.join(''));
                    }
                }

                if (score == 3) {
                    $("#threeScore").html('');
                    if (data.Data.length > 0) {
                        for (var i = 0; i < data.Data.length; i++) {
                            html.push('<a href="#" class="list-group-item">');
                            html.push(data.Data[i].hwName);
                            html.push('<div class="pull-right">');
                            html.push('<span title="编辑" onclick="EditScore(\'' + data.Data[i].Id + '\',\'' + data.Data[i].hwName + '\',3)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>');
                            html.push('&nbsp;&nbsp;');
                            html.push('<span title="删除" onclick="DelScore(\'' + data.Data[i].Id + '\',3)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>');
                            html.push('</div></a>');
                        }
                        $("#threeScore").html(html.join(''));
                    }
                }
            },
            error: function (xhr) {
            }
        });
    }

    /**
     * 编辑
     * id 家务标识
     */
    function EditScore(id, name, score) {
        var editLy = layer.confirm('请注意，接下来你将对此条神圣的信息就行修改！', { icon: 6, title: '提示' }, function (index) {
            $("#bCore").html(score);
            $("#hwScores").val(score)
            $("#hwName").val(name)
            $("#bHwName").html(name);
            $("#editNoticeDiv").show();
            $("#HwId").val(id);
            $("#btnSubmit").html("编辑");
            layer.close(editLy);
        });
    }
    /**
     * 删除
     * id 家务标识
     */
    function DelScore(id, score) {
        layer.confirm('<b style="color:red">删除！</b>你确定要删除吗?', { icon: 5, title: '提示' }, function (index) {
            var loadindex;
            $.ajax({
                url: '/Report/Family/DelScore',
                type: 'POST',
                async: false,
                data: { Id: id, rand: Math.random() },
                beforeSend: function (XMLHttpRequest) {
                    loadindex = layer.load(0, { shade: [0.3, '#fff'] });
                },
                success: function (data) {
                    layer.close(loadindex);
                    if (data.Success) {
                        GetScore(score);
                        var lyI = layer.confirm('恭喜，数据成功删除！', { icon: 6, title: '提示', btn: ["哦，我知道了"] }, function (index) {
                            layer.close(lyI);
                        });

                    }

                },
                error: function (xhr) {
                }
            });
        });
    }

    /**
     * 取消
     */
    function Cancel() {
        $("#bCore").html('');
        $("#HwId").val('');
        $("#hwScores").val('')
        $("#hwName").val('')
        $("#bHwName").html('');
        $("#editNoticeDiv").hide();
        $("#btnSubmit").html("提交");
    }

    /**
     * 初始化数据
     */
    $(function () {
        GetScore(1);
        GetScore(2);
        GetScore(3);
    })
</script>