
@{
    Layout = null;
}
<style type="text/css">
    .Container {
        padding: 0 20px;
    }

    .layui-input-block {
        float: left;
        margin-left: 0px;
        width: 480px;
    }

    .form-group {
        display: inline-block;
    }

    .layAdd label {
        float: left;
        height: 34px;
        line-height: 34px;
        width: 80px;
        margin: 0 10px;
        text-align: right;
    }

    .layAdd .form-control {
        float: left;
        height: 34px;
        line-height: 34px;
        width: 290px;
    }
</style>
<div class="Container">
    <div class="layui-form-item">
        <label for="rolename" class="layui-form-label" style="width:110px;">角色名称</label>
        <div class="layui-input-block">
            <input id="rolename" name="rolename" type="text" placeholder="请输入角色名称" class="layui-input">
        </div>
        <button id="btnsearch" class="layui-btn" style="margin-left:5px;">查询</button>
        <button class="layui-btn layui-btn-warm" style="margin-left:5px;" onclick="AddPage()">新增</button>
    </div>
    <div class="list">

    </div>
</div>

<div class="layAdd" style="display:none">
    <form id="formAdd">
        <div class="form-group" style="margin-top:10px;">
            <label for="Name">角色名称</label>
            <input type="text" class="form-control" id="Name" name="Name" placeholder="请输入角色名称">
        </div>
        <br />
        <div class="form-group">
            <label for="exampleInputPassword1">描述</label>
            <input type="text" class="form-control" id="Discriminator" name="Discriminator" placeholder="角色描述">
        </div>
        <br />

        <button type="button" class="btn btn-primary" style="margin-left:100px;" onclick="Add()">新增</button>
        <button type="reset" class="btn btn-default" onclick="closeLay()">取消</button>
    </form>

</div>
<script type="text/javascript">
    $(function () {
        Search();
        $("#btnsearch").click(function () {
            Search();
        });
    });

    /**
     * 查询列表
     * */
    function Search() {
        var name = $("#rolename").val();
        ajaxShow("/System/RoleManage/List", { Name: name }, ".list");
    }

    function Add() {
        var data = $("#formAdd").serialize();
        ajaxJson("/System/RoleManage/Add", data, true, function (rst) {
            if (rst.result == 1) {
                Search();
                closeLay();
                document.getElementById("formAdd").reset();
            } else {
                layer.alert(rst.message);
            }


        });
    }
    /**
     * 新增角色页面
     * */
    function AddPage() {
        layer.open({
            type: 1,
            title: '新增角色',
            skin: 'layui-layer-rim',
            area: ['420px', '240px'],
            content: $('.layAdd')
        });
    }

    function closeLay() {
        layer.closeAll();
    }
</script>