
@{
    Layout = null;
}
<style type="text/css">
    .panel.panel-violet > .panel-heading {
        color: #FFFFFF;
        background: #9351ad;
        border-color: #9351ad !important;
    }

    .panel.panel-violet {
        border-color: #9351ad;
    }
</style>
<div class="panel panel-violet" style="margin-left:10px;margin-right:70px;">
    <div class="panel-heading">
        查询统计
    </div>
    <div class="panel-body pan">
        <form action="#">
            <div class="form-body pal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-3 control-label">开始日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date col-md-7' id='dateStart'>
                                <input type='text' class="form-control" readonly />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-3 control-label">结束日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date col-md-7' id='dateEnd'>
                                <input type='text' class="form-control" readonly />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button id="btnSubmit" type="button" class="btn btn-primary" onclick="Search()">
                            查询
                        </button>
                        <button type="button" class="btn btn-danger" onclick="Cancel()">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container" style="margin-left:10px; margin-top:10px; ">
    
</div>

<script type="text/javascript">
    $(function () {
        /**
        日期控件绑定
        */
        $('#dateStart').datetimepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),
            autoclose: true,//选中自动关闭
            todayBtn: true,//显示今日按钮
        });
        /**
        日期控件绑定
        */
        $('#dateEnd').datetimepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),
            autoclose: true,//选中自动关闭
            todayBtn: true,//显示今日按钮
        });

    });
    function Search()
    {
        $.ajax({
            url: '/Report/DayDetail/List',
            type: 'GET',
            async: false,
            data: {  },
            success: function (data) {
                $(".container").html(data);
            },
            error: function (xhr) {
            }
        });
    }
</script>
