@{
    ViewBag.Title = "管理员登录";
    Layout = null;
}
<!--css-->
<link href="~/Content/SysBackStage/SysLogin.css" rel="stylesheet" />
<link href="~/Content/bootstranp/bootstrap.css" rel="stylesheet" />
<!--script-->
<script src="~/Scripts/Jquery/jquery.min.js"></script>
<script src="~/Scripts/Layer/layer.js"></script>
<script src="~/Scripts/BootStrap/bootstrap.min.js"></script>
<script src="~/Scripts/Commen/DoCookie.js"></script>
<script src="~/Scripts/SysBackStage/SysLogin.js"></script>

<img src="~/Images/3.jpg" id="bgImg" />
<!--登陆窗口1-->
<div id="LoginWay1" style="top: 300px; left: 1100px;">
    <div class="header" onmousedown="MoveLayer('LoginWay1')">
        管理系统
    </div>
    <div class="Way1">
        <ul>
            <li>
                <label>用户名</label><input id="Name" type="text" value="" />
            </li>
            <li>
                <label>密码</label><input id="Password" type="password" value="" />
            </li>
        </ul>
        <div class="btn1">
            <a style="width: 75px; height: 80px;" onclick="Login1()" onmouseover="ChangeImg()" onmouseout="dot()">
                <img id="LoginImg" src="~/Images/btnLogin1.jpg" class="img-circle" style="width: 85px; height: 90px;" />
            </a>
        </div>
    </div>
    <div class="footer">制作人：a健&nbsp;&nbsp;&nbsp;&nbsp; 联系方式：2019929865（扣扣）</div>
</div>

<!--登陆窗口2-->
<div id="LoginWay2" style="left: 160px; top: 130px;">
    <div class="header" onmousedown="MoveLayer('LoginWay2')">管理系统</div>
    <div class="Way2">
        <ul>
            <li>
                <label>用户名</label><input id="UserName" type="text" value="ajian" />
            </li>
            <li>
                <label>密码</label><input id="UserPwd" type="password" value="" />
            </li>
            <li>
                <label>验证码</label><input class="Code" type="text" style="width: 100px;" />
                @{
                    var random = new Random().Next();
                }
                <div onclick="ChangeCode()" style="float: left; padding-left: 10px; padding-top: 3px;">
                    <img id="img_validation" src="~/ValidationCode/CreatImage?@random">
                </div>
            </li>
        </ul>
        <a class="btn btn-primary" onclick="Login()" style="margin-left: 80px; margin-top: 10px;"> 登 陆 </a>
        <div class="err_msg" style="margin-left: 80px; margin-top: 10px; color:red;display:none">温馨提示：<b></b></div>
    </div>
    <div class="footer">制作人：a健&nbsp;&nbsp;&nbsp;&nbsp; 联系方式：2019929865（扣扣）</div>
</div>
